<!-- Banner d'accueil -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dwvsbgwap/image/upload/v1678729441/cafebleu_oyydkk.jpg);">
</div>
