<!-- Banner d'accueil -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dwvsbgwap/image/upload/v1678153098/portnice_ybbq6a.jpg);">
  <div class="container">
    <%# <h1>Je vous souhaite la bienvenue au <strong>Café Anna</strong>!</h1>
    <p>Venez découvrir ce petit havre de paix</p> %>
  </div>
</div>
